<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div id="profile_show">
  <ul>
    <li><span class="label label-info">Birthday</span><%= @user.birthday %></li>
    <li><span class="label label-info">Location</span><%= @user.location %></li>
    <li><span class="label label-info">Hobby</span><%= @user.hobby %></li>
    <li><span class="label label-info">Comment</span><%= @user.comment %></li>
  </ul>
</div>